//
   Created by sn on 2016/12/15.
extends layout

block content
    p
        a(href="/study/list-admin") 学习管理
    p
        a(href="/course/list") 课程中心
    p
        a(href='/course/createrule') 创建课程
    p
        a(href="/study/list/type/word") 查看单词
    p
        a(href="/study/list/type/phrase") 查看词组
    p
        a(href="/study/list/type/sentence") 查看句子