//
   Created by sn on 2016/12/10.

extends layout
block content
    main.main
        section.show
            ul
                li
                    a(href='/course/addcoursebytype') create by type
                li
                    a(href='/course/addcoursebygroup') create by group
                li
                    a(href='/course/addcoursebyrandom') create by random


