extends layout
block content
    main.main
        section.show
            p.
                #{study.chinese}
                #{study.english}
                .
            a(href="/course/next/#{cid}") 下一个