//
   Created by sn on 2016/12/15.

p
    a(href="/study/list") 学习列表
p
    a(href="/word/list") 单词列表
p
    a(href="/word/add") 添加单词
p
    a(href="/study/add") 添加学习
p
    a(href="/webdata/padata") 抓取例句