extends layout
block content
    main.main
        section.show
            p.
                #{word.chinese}
                #{word.english}
                .
            a(href="/course/next/#{cid}") 下一个